@using BeautySalon.Data.Models
@model IList<CommentModel>

<h1 class="text-center pt-4">Послуги</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Імя</th>
            <th scope="col" class="action">Дія</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in @Model)
        {
            <tr>
                <th scope="row">@comment.Id</th>
                <td width="50%">@comment.Title</td>
                <td>@comment.UserName</td>
                <td>
                    <a class="btn btn-warning m-2" asp-controller="Admin" asp-action="EditComment" asp-route-id="@comment.Id">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-danger m-2" asp-controller="Admin" asp-action="DeleteComment" asp-route-id="@comment.Id">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
