@model IList<PostModel>;

<h1 class="text-center pt-4">Новини</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Заголовок</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in @Model)
        {
            <tr>
                <th scope="row">@post.Id</th>
                <td  width="70%">@post.Title</td>
                <td><input type="checkbox" class=" m-3" checked="@post.IsShow" disabled></td>
                <td>
                    <a class="btn btn-warning action mb-2" asp-controller="Admin" asp-action="EditPost" asp-route-id="@post.Id">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-danger action mb-2" asp-controller="Admin" asp-action="DeletePost" asp-route-id="@post.Id">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

