@using BeautySalon.Data.Models
@model IList<ProductModel>

<h1 class="text-center pt-4">Послуги</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Назва</th>
            <th scope="col">Ціна</th>
            <th scope="col" class="action">Дія</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in @Model)
        {
            <tr>
                <th scope="row">@product.Id</th>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    <a class="btn btn-warning m-2" asp-controller="Admin" asp-action="EditProduct" asp-route-id="@product.Id">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-danger m-2" asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@product.Id">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
